.bg-orange {
    background-color: orange;
}
.bg-yellow {
    background-color: yellow;
}
.bg-purple {
    background-color: purple;
}
.grad {
    background-image: linear-gradient(to right, blue , indigo);
    color: white;
    text-align: center;
}
